@{
    ViewData["Title"] = "Topic Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Some "Topic"</h1>
    <p>It's a first page of our site.</p>
</div>
