@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="Index">Topic</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="Index">Section</a>
</div>